/* General purpose colors */

$white: #fff;
$offwhite: #eee;
$black: #000;

$body: #333;

$darkGray: #86898d;
$lightGray: #a1aab7;
$subtleGray: #ccc;
$faintGray: #bbb;

/* Theme colors */

$gold: #cebf82;
$gold-dark: #a09463;
$darkBlue: #1f344f;

/* Third-party colors */

$twitter: #14adf1;
$facebook: #3d5ba0;
$instagram: #e95b6a;

$socials: facebook $facebook, twitter $twitter;
