@import 'compass';

@import 'variables';
@import 'core';

html, body, .application_view, .index_view {
  margin: 0;
  padding: 0;
  @extend %full_width;
  @extend %full_height;
}

body {
  font-family: $lato;
  background-color: $black;
}

h1 {
  font-weight: 300;
}

.em {
  font-family: $didot;
}

.heights {
  background-color: #000;
  background-image: url('images/heights.jpg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cityscape {
  background-color: #000;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1)), url('images/cityscape.jpg');
  background-position: top center;
  background-size: cover, 100% 100%;
  background-repeat: no-repeat;
}

.cinema,
.heights,
.cityscape {
  height: 100vh;
  width: 100vw;
  position: relative;
  top: -100vh;
}

.hero {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 2;

  h1 {
    position: relative;
    text-align: center;
    top: 40%;
  }
}
