.cinema {
  margin-bottom: 100vh;
}

.cinema,
.heights,
.cityscape,
.clouds {
  @extend %full_height-viewport;
  @extend %full_width-viewport;
  @extend %relative;
}

.cityscape,
.clouds,
.heights {
  background-repeat: no-repeat;
}

.cityscape,
.heights {
  background-color: $black;
}

.clouds,
.heights {
  background-position: center center;
}

.heights {
  background-image: url('images/heights.png');
  background-size: contain;
}

.cityscape {
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 30%, rgba(0,0,0,1)), url('images/cityscape.jpg');
  background-position: top center;
  background-size: cover, 100% 100%;
}

.cinema,
.cityscape {
  top: -100vh;
}

.fullscreen-heights_text {
  @extend .overlay;
  color: $white;
  z-index: 3 !important;

  .title,
  .description {
    @include text-shadow(
      0 0 10px $black,
      0 0 20px $black,
      0 0 30px $black,
      0 0 40px $black,
      0 0 50px $black,
      0 0 60px $black
    );
  }

  .title {
    @include rem(font-size, 5);
  }

  .description {
    @include rem(max-width, 70);
    @include rem(font-size, 2.2);
    @extend %auto_margin;
    @extend %inline_block;
  }

  .buttons,
  .description {
    @include transition(opacity $slow);

    .fade_nav & {
      @extend .invisible;
    }
  }
}

.ellipsis {
  @include inline-block;
  @extend %overflow-hidden;
  @extend %align-left;
}

.from_the_heights {
  @extend %relative;
  color: #CFC083;
  // text-shadow: 0 0 10px $black;
}

.clouds {
  background-color: transparent;
  background-image: url('images/clouds.png');
  background-size: 100% 100%;
  top: 50vh;
}

.post_cinema_content {
  @extend .section;
  background-color: $white;
  @extend %relative;
  z-index: 2;
}
