.header {
  @extend %full_width;
  @extend %fixed;
  z-index: 4;
  @extend .alt_text;
  background-color: transparent;

  .index & {
    background-image: -webkit-linear-gradient(to bottom, $black 30%, transparent);
    background-image: linear-gradient(to bottom, $black 30%, transparent);
  }

  .index & {
    .fade_nav &:not(:hover) .nav_list {
      @include opacity(0.25);
    }

    @include mod(link-to) {
      @include text-shadow(
        0 0 10px $black,
        0 0 20px $black
      );
    }
  }

  @include mod(link-to) {
    color: $white;

    &:hover {
      color: $offwhite;
    }
  }

  .link-to-index {
    @extend %inline_block;
    @include rem(padding, $headerSpacing);
  }
}

.nav {
  @include rem(top, $spacing);

  @include large {
    top: 0;
  }
}

.nav_list {
  @include transition(opacity 1s);
}

.logo {
  @include rem(height, 6);
  @include rem(padding-right, $headerSpacing);

  &, & + .text {
    @extend %inline_block;
  }
}

.nav_list {
  @extend %list-inline;
  @extend %align-right;

  @include mod(link-to) {
    @extend %inline_block;
    @include rem(padding, $headerSpacing);
  }

  @include medium {
    li {
      width: auto;
      @include rem(margin, $headerSpacing);
      margin-left: 0;
    }
  }

  .link-to-apply {
    @include rem(padding, $buttonVertPadding, $buttonHorizPadding);
  }
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: absolute;
  }
  .js .nav-collapse.closed {
    max-height: 0;
  }
  .nav-toggle {
    @include inline-block;
  }
}

@include large {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

.nav-toggle {
  @extend %absolute;
  @extend %top;
  @extend %right;
  @include rem(padding, $spacing / 2);

  .button-unstyled {
    color: $white;
  }
}
