.header {
  @extend %full_width;
  @extend %fixed;
  z-index: 4;
  @include transition(opacity 1s);

  background-color: transparent;
  @extend .alt_text;

  .index & {
    background-image: -webkit-linear-gradient(to bottom, $black 30%, transparent);
    background-image: linear-gradient(to bottom, $black 30%, transparent);

    .fade_nav &:not(:hover) {
      @include opacity(0.25);
    }

    @include mod(link-to) {
      .description {
        @include text-shadow(
          0 0 10px $black,
          0 0 20px $black,
          0 0 30px $black,
          0 0 40px red, // TODO
          0 0 50px red,
          0 0 60px red
        );
      }
    }
  }

  @include mod(link-to) {
    color: $white;

    &:hover {
      color: $offwhite;
    }
  }
}

.logo {
  @include rem(height, 6);
  @include rem(padding-right, $headerSpacing);

  &, & + .text {
    @extend %inline_block;
  }
}

.nav_list {
  @extend %list-inline;
  @extend %align-right;

  @include mod(link-to) {
    @extend %inline_block;
    @include rem(padding, $headerSpacing);
  }

  li:first-child {
    float: left;
    @include rem(margin-top, $headerSpacing / 2);
  }

  @include medium {
    li {
      width: auto;
      @include rem(margin, $headerSpacing);
      margin-left: 0;
    }
  }

  .link-to-apply {
    @include rem(padding, $buttonVertPadding, $buttonHorizPadding);
  }
}

@include medium {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
