/*
Cross-browser background gradient
*/

@function first($list) {
  @return nth($list, 1);
}

@function last($list) {
  $length: length($list);
  @return nth($list, $length);
}

@mixin background_gradient($color, $from, $stops...) {
  background-color: $color; // Fallback color
  // CSS3 Gradients
  background-image: -ms-linear-gradient($from, $stops); // IE11
  @include background-image(linear-gradient($from, $stops)); // Modern browsers
  // IE 5.5-8 Fallback
  $firstStopColor: nth(first($stops), 1);
  $lastStopColor: nth(last($stops), 1);
  $fallbackDir: null;

  @if (length($from) > 1) {
    $fallbackDir: horizontal;
  } @else if ($from == 'left') {
    $fallbackDir: horizontal;
  } @else if ($from == 'right') {
    $fallbackDir: horizontal;
  } @else {
    $fallbackDir: vertical;
    // Reverse stops for vertical gradient as we specify from bottom
    $firstStopColor: nth(last($stops), 1);
    $lastStopColor: nth(first($stops), 1);
  }

  .no-cssgradients & {
    @include filter-gradient($firstStopColor, $lastStopColor, $fallbackDir);
  }
}

/*
Cross-browser gradient text
*/

@mixin gradient_text($fallbackColor, $from, $stops...) {
  color: $fallbackColor;

  .backgroundclip & {
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient($from, $stops);
    @include background-clip(text);
  }
}
/*
Target input placeholders
*/

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

/*
Iframe previews
*/

@mixin scaled_iframe($scale, $heightToWidth: 1.3) {
  $width: 1 / $scale * 100%;
  $height: $width * $heightToWidth * (1 / $heightToWidth);

  @extend %scaled_iframe_wrapper;
  padding-bottom: 100% * $heightToWidth; // Height

  & > iframe {
    @extend %scaled_iframe;
    height: $height;
    width: $width;
    @include transform(scale($scale));
  }
}


@mixin filter($value) {
  -webkit-filter: #{$value};
  filter: #{$value};
}


/*
Animations
*/

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  animation: $animation;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-o-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}
