.hr {
  @include rem(margin, $spacing, -1 * $spacing);
  @include rem(padding, 0, $spacing);
}

.or {
  @include rem(margin, 0, $spacing / 4);
  @extend .sub;
}

.info_available {
  cursor: help;
}

iframe {
  border: 0;
  @extend %full_height;
  @extend %full_width;
}

.sub {
  @include opacity(0.5);
}

.invisible {
  @include transparent;
}

.opaque {
  @include opaque;
}

.bold {
  font-weight: bold;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
