@import "variables/colors";
@import "variables/layout";
@import "variables/spinner";
@import "variables/typography";

$arrowSize: 0.8;
$checkboxSize: 2.6;
$notificationSize: 3;

$slow: 0.5s;
$fast: 0.3s;
