<nav class="nav nav-collapse" role="navigation">
  <ul class="nav_list">
    <li>
      {{#link-to 'index'}}
        <img
          alt="The Soaring Startup Circle Logo"
          class="logo"
          src="/assets/images/logo.svg"
        >
        <span>Soaring Startup Circle</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'about'}}About{{/link-to}}
    </li>
    <li>
      {{#link-to 'help'}}Help Out{{/link-to}}
    </li>
    <li>
      {{#link-to 'members'}}Members{{/link-to}}
    </li>
    <li>
      {{#link-to 'apply'}}Apply{{/link-to}}
    </li>
  </ul>
</nav>
